services:
  home-page:
    image: nginx:alpine
    container_name: homepage
    ports:
      - "80:80"
    volumes:
      - ./html:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    restart: always
    networks:
      - apps_net

networks:
  apps_net:
    external: true
